body{
    background-color:azure;
    
} 


h1{
    color:black ;
    text-decoration:overline underline;
    text-align: center;
    text-shadow: 2px 2px 5px aqua;
    
}

.img{
    width: 150px;
    height: 200px ;  

}

li{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    text-shadow:2px 2px 5px aqua;
    
}

    
        
    
